<div class="lost-item-container">
	<img class="logo" src="/static/images/backpacker-logo-export.png" alt="logo">
	<div class="lost-item-box">
		<form action="/game/new" method="post">
			<label for="lostItem">What item have you lost recently?</label>
			<input type="text" name="lostItem" placeholder="Lost Item">
			<input type="submit" value="Start Game">
			</form>
	</div>
</div>
