<div class="rpscontainer">
  <h2 class="game-header">ROCK, PAPER, SCISSORS</h2>

  <div class="game-story">
    <p>The game is easy. Pick a weapon and see if you can beat the game.</p>
    <p>Rock beats Scissors | Paper beats Rock | Scissors beats Paper</p>
  </div>

  <div class="game-buttons">
    <form class="rps-form" method="post">
      <input type="submit" name="move" id="Rock" value="Rock">
      <input type="submit" name="move" id="Paper" value="Paper">
      <input type="submit" name="move" id="Scissors" value="Scissors">
    </form>
</div>
</div>