<div class="homepage-container">
  <img class="logo" src="static/images/backpacker-logo-export.png" alt="logo">
  <div class="log-in-box">
    <form action="/users/login">
      <button class="home-button" id="home-log-in">LOGIN</button>
    </form>
    <form action="/users/signup">
      <button class="home-button" id="home-sign-up">SIGN UP</button>
    </form>
  </div>
</div>