<div style="font-size: 3em; margin: auto; text-align: center">
    <img src="/static/images/sprites/stick.png" style="width:25%" alt="Lauren's Special Stick"/>
    <h1>You found Lauren's Special Stick!</h1>
    <p>It's like a normal stick, except it's Lauren's special one.</p>
</div>
