<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Backpacker: The One with the Backpack</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <%- body %>
        <!-- DISABLING LOG OUT PRE-DEMO -->
        <!-- <%# if (user != undefined && user.currentGame != undefined) { %>
            <form action="/users/logout">
                <input class="logout" id="logout-button" type="submit" value="Log out">
            </form>
        <%# } %> -->
    </body>
</html>
